/.env
/node_modules
.next/app-build-manifest.json
.next/build-manifest.json
.next/react-loadable-manifest.json
.next/cache/webpack/client-development/2.pack.gz
.next/cache/webpack/client-development/index.pack.gz
.next/cache/webpack/server-development/1.pack.gz_
.next/cache/webpack/server-development/6.pack.gz_
.next/cache/webpack/server-development/7.pack.gz_
.next/server/app-paths-manifest.json
.next/server/middleware-build-manifest.js
.next/server/middleware-react-loadable-manifest.js
.next/server/next-font-manifest.js
.next/server/next-font-manifest.json
.next/server/pages-manifest.json
.next/server/server-reference-manifest.js
.next/server/server-reference-manifest.json
.next/server/webpack-runtime.js
.next/server/app/_not-found_client-reference-manifest.js
.next/server/app/not-found_client-reference-manifest.js
.next/server/app/not-found.js
.next/server/app/page_client-reference-manifest.js
.next/server/vendor-chunks/next.js
.next/static/chunks/webpack.js
.next/static/chunks/app/layout.js
.next/static/chunks/app/not-found.js
.next/static/development/_buildManifest.js
.next/static/development/_ssgManifest.js
.next/static/webpack/06db33efbab47212.webpack.hot-update.json
.next/static/webpack/387a9675586f2ffb.webpack.hot-update.json
.next/static/webpack/webpack.06db33efbab47212.hot-update.js
.next/static/webpack/webpack.387a9675586f2ffb.hot-update.js
.next/static/webpack/app/layout.06db33efbab47212.hot-update.js
.next/types/package.json
.next/types/app/layout.ts
.next/types/app/page.ts
.next/cache/webpack/client-development/4.pack.gz
.next/cache/webpack/client-development/index.pack.gz.old
.next/server/pages/_app.js
.next/server/pages/_error.js
.next/server/pages/login.js
.next/server/pages/products.js
.next/server/vendor-chunks/@swc.js
.next/static/chunks/app/page.js
.next/static/chunks/pages/_app.js
.next/static/webpack/176af7d3dc0e5511.webpack.hot-update.json
.next/static/webpack/webpack.176af7d3dc0e5511.hot-update.js
.next/static/webpack/app/layout.176af7d3dc0e5511.hot-update.js
.next/static/webpack/app/page.176af7d3dc0e5511.hot-update.js
.next/static/webpack/pages/_app.176af7d3dc0e5511.hot-update.js
.next/cache/webpack/client-development/5.pack.gz
